# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
.idea/
ntl-**
CMakeFiles
Makefile
CMakeCache.txt
cmake_install.cmake
cmake-build-*/
.cmake
build
build-*/
gtesting
main
testing
googletest-build
googletest-download
